@import "assets/colors";

.header-wrapper {
  height: 70px;
}

.title-wrapper {
  font-size: 35px;
}

.uni-track-logo {
  max-height: 45px;
  max-width: 45px;
  border-radius: 50%;
}

.logo-wrapper {
  cursor: pointer;
}

.profile-img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px $ut-shadow-regular;
  cursor: pointer;
  margin: 0 8px;
}

.li-wrapper {
  background-color: $color-ut-white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-ut-accent;
  box-shadow: 5px 5px 5px $ut-shadow-regular;
  cursor: pointer;
  margin: 0 8px;
}

.w-20 {
  width: 20%;
}
