@use 'colors';

.mat-mdc-table{
  background-color: colors.$color-ut-accent-100;
}

.mat-mdc-header-cell{
  color: colors.$color-ut-accent;
  font-family: 'Cabin Sketch', sans-serif !important;
  font-weight: 900;
  font-size: 1rem;
}

.mat-mdc-cell, .mat-mdc-footer-cell{
  color: colors.$color-ut-dark-grey;
}

.mat-mdc-cell, .mat-mdc-header-cell{
  border-bottom-color: colors.$color-ut-white;
}

.add-icon{
  cursor: pointer;
}
