@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-1">Welcome to UniTrack</h1>
    <p class="lead">Your central admin hub for managing UniTrack services.</p>
    <a class="btn btn-primary btn-lg" role="button" asp-controller="Auth" asp-action="Index">Log in</a>
</div>
