<form
  [formGroup]="authForm"
  (ngSubmit)="onLogin()"
  class="form-wrapper d-flex flex-column"
>
  <h1 class="fs-2 text-ut-white ">Login</h1>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput />
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('email')?.touched &&
      authForm.get('email')?.hasError('required')
    "
  >
    Please enter your email address.
  </mat-error>
  <mat-error
    *ngIf="
      authForm.get('email')?.touched &&
      authForm.get('email')?.hasError('pattern')
    "
  >
    Please enter a valid email address.
  </mat-error>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput />
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('password')?.hasError('required')
    "
  >
    Password field cannot be empty.
  </mat-error>
  <a class="text-end text-ut-accent mt-4">
    Don't have an account?&nbsp;&nbsp;Sign up here.
  </a>
  <a class="text-end text-ut-accent my-1">
    Forgot your password?
  </a>
  <button class="accent-btn-md mt-3" mat-raised-button color="primary">
    Login
  </button>
</form>
