$color-ut-white: #F3EFF5;
$color-ut-dark-grey: #454955;
$color-ut-light-grey: #D9D9D9;
$color-ut-red: #c80d0d;

$color-ut-primary: #72B01D;
$color-ut-primary-100: #D5E7BB;
$color-ut-primary-200: #B9D88E;
$color-ut-primary-300: #9CC861;
$color-ut-primary-400: #87BC3F;
$color-ut-primary-600: #6AA91A;
$color-ut-primary-700: #5FA015;
$color-ut-primary-800: #559711;
$color-ut-primary-900: #42870A;

$color-ut-accent: #673389;
$color-ut-accent-100: #D1C2DC;
$color-ut-accent-200: #B399C4;
$color-ut-accent-300: #9570AC;
$color-ut-accent-400: #7E529B;
$color-ut-accent-600: #5F2E81;
$color-ut-accent-700: #542776;
$color-ut-accent-800: #4A206C;
$color-ut-accent-900: #391459;
