@use "colors";

.mat-mdc-table {
  background-color: colors.$color-ut-white;
  border: 1px solid colors.$color-ut-light-grey;
  width: 100%;
  max-width: 100%;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}

.mat-mdc-header-cell {
  font-family: "Cabin Sketch", sans-serif !important;
  font-weight: 900;
  font-size: 1.1rem;
  background-color: colors.$color-ut-accent-100 !important;
  color: colors.$color-ut-accent;
}

.actions-column {
  cursor: pointer;
}

.disapprove-button {
  background-color: colors.$color-ut-red !important;
  &:hover {
    background-color: colors.$color-ut-dark-wine !important;
  }
}

.student-user,
.approved-user {
  color: colors.$color-ut-primary;
  font-weight: 900;
}

.teacher-user {
  color: colors.$color-ut-accent;
  font-weight: 900;
}

.disapproved-user {
  color: colors.$color-ut-red;
  font-weight: 900;
}

.table-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}
