@use 'colors';

.main-wrapper{
  background: colors.$color-ut-primary-100;
  border-radius: 8px;
  width: 100%;
  height: 100%;

  &.purple-card{
    background-color: colors.$color-ut-accent-100;
  }

  .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    color: colors.$color-ut-accent;
  }

  h1{
    font-size: 3rem;
  }
}
