<div
  class="main-wrapper d-flex flex-column align-items-center justify-content-center px-5 py-3"
>
  <form [formGroup]="form">
    <h1 mat-dialog-title class="text-center fw-bold">
      Add {{ getTypeTitle() | uppercase }}
    </h1>
    <div mat-dialog-content class="d-flex flex-column justify-content-center">
      <h2 class="subtitle-wrapper text-center mb-3">
        to {{ data.studentFirstName }}&nbsp;{{ data.studentLastName }}
      </h2>
      <mat-label>Select subject</mat-label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="subject">
          <mat-option
            *ngFor="let subject of teacher.subjects"
            [value]="subject"
            >{{ subject }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="data.type === types.ADD_GRADE">
        <mat-label>Write grade</mat-label>
        <mat-form-field appearance="outline">
          <input type="number" formControlName="grade" matInput />
        </mat-form-field>
        <mat-label>Add a topic</mat-label>
        <mat-form-field appearance="outline">
          <textarea type="text" formControlName="topic" matInput></textarea>
        </mat-form-field>
      </ng-container>
      <mat-label>Enter a date</mat-label>
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="d-flex flex-column">
      <button
        mat-raised-button
        mat-dialog-close
        class="my-2 accent-btn-lg cancel-btn"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        cdkFocusInitial
        class="my-2 accent-btn-lg"
        (click)="onSubmit()"
      >
        Add
      </button>
    </div>
  </form>
</div>
