<form
  [formGroup]="authForm"
  (ngSubmit)="onSignup()"
  class="form-wrapper d-flex flex-column"
>
  <h1 class="fs-2 text-ut-white">Signup</h1>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>First Name</mat-label>
    <input formControlName="firstName" matInput />
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('firstName')?.touched &&
      authForm.get('firstName')?.hasError('required')
    "
  >
    Please enter your first name.
  </mat-error>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>Last name</mat-label>
    <input formControlName="lastName" matInput />
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('lastName')?.touched &&
      authForm.get('lastName')?.hasError('required')
    "
  >
    Please enter your last name.
  </mat-error>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>Username</mat-label>
    <input formControlName="userName" matInput />
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('userName')?.touched &&
      authForm.get('userName')?.hasError('required')
    "
  >
    Please enter your username.
  </mat-error>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput />
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('email')?.touched &&
      authForm.get('email')?.hasError('required')
    "
  >
    Please enter your email address.
  </mat-error>
  <mat-error
    *ngIf="
      authForm.get('email')?.touched &&
      authForm.get('email')?.hasError('pattern')
    "
  >
    Please enter a valid email address.
  </mat-error>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>Password</mat-label>
    <input
      formControlName="password"
      [type]="hidePassword ? 'password' : 'text'"
      matInput
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="toggleHidePassword($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon class="text-ut-accent">{{
        hidePassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('password')?.hasError('required')
    "
  >
    Password field cannot be empty.
  </mat-error>
  <mat-error
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('password')?.hasError('pattern')
    "
  >
    Password must include at least 1 uppercase letter, 1 lowercase letter, 1
    digit, and be at least 8 characters long.
  </mat-error>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>Confirm password</mat-label>
    <input formControlName="confirmPassword" type="password" matInput />
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('confirmPassword')?.touched &&
      authForm.get('confirmPassword')?.hasError('required')
    "
  >
    Please confirm your password.
  </mat-error>
  <mat-error *ngIf="authForm.hasError('differentPasswords')">
    Passwords do not match. Please try again.
  </mat-error>

  <mat-form-field appearance="outline" *ngIf="schools$ | async as schools"  class="without-space-after pt-3">
    <mat-label>School:</mat-label>
    <mat-select formControlName="schoolId">
      <mat-option *ngFor="let school of schools" [value]="school.id">{{
        school.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('schoolId')?.touched &&
      authForm.get('schoolId')?.hasError('required')
    "
  >
    School field cannot be empty.
  </mat-error>

  <a class="text-end text-ut-accent mt-4 mb-2" routerLink="../login">
    Already have an account?&nbsp;<span class="fw-bold">Log in here</span>.</a
  >
  <button class="mt-4 accent-btn-md" mat-raised-button color="primary">
    Signup
  </button>
</form>
