<form
  [formGroup]="authForm"
  (ngSubmit)="onLogin()"
  class="form-wrapper d-flex flex-column"
>
  <h1 class="fs-2 text-ut-white">Signup</h1>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput />
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('email')?.touched &&
      authForm.get('email')?.hasError('required')
    "
  >
    Please enter your email address.
  </mat-error>
  <mat-error
    *ngIf="
      authForm.get('email')?.touched &&
      authForm.get('email')?.hasError('pattern')
    "
  >
    Please enter a valid email address.
  </mat-error>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>Password</mat-label>
    <input
      formControlName="password"
      [type]="hidePassword ? 'password' : 'text'"
      matInput
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="toggleHidePassword($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon class="text-ut-accent">{{
        hidePassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('password')?.hasError('required')
    "
  >
    Password field cannot be empty.
  </mat-error>
  <mat-error
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('password')?.hasError('pattern')
    "
  >
    Password must include at least 1 uppercase letter, 1 lowercase letter, 1
    digit, and be at least 8 characters long.
  </mat-error>
  <mat-form-field appearance="outline" class="without-space-after pt-3">
    <mat-label>Confirm password</mat-label>
    <input formControlName="confirmPassword" type="password" matInput />
  </mat-form-field>
  <mat-error
    *ngIf="
      authForm.get('confirmPassword')?.touched &&
      authForm.get('confirmPassword')?.hasError('required')
    "
  >
    Please confirm your password.
  </mat-error>
  <mat-error *ngIf="authForm.hasError('differentPasswords')">
    Passwords do not match. Please try again.
  </mat-error>

  <a class="text-end text-ut-accent mt-4 mb-2" routerLink="../login"
    >Already have an account? Log in here.</a
  >
  <button class="mt-4 accent-btn-md" mat-raised-button color="primary">
    Signup
  </button>
</form>
